/* 样式重置 */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #101010
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #101010;
}

img {
  border: none;
}

/* 清楚浮动 防止上边距折叠 */
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:after {
  clear: both;
}

/* 通用宽度 */
.common-width {
  margin: 0 auto;
  max-width: 1200px;
}
@media only screen and (min-width:1241x) {

}
@media only screen and (min-width:1025px) and (max-width: 1240px) {
  .common-width {
    max-width: 90%;
  }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {

  html,
  body {
    font-size: 12px;
  }

  .common-width {
    max-width: 90%;
  }
}

@media only screen and (min-width:300px) and (max-width: 768px) {

  html,
  body {
    font-size: 12px;
    padding: 0 5px;
  }

  .common-width {
    max-width: 100%;
  }
}

/* 导航菜单 */
header{
  background: #fff;
}
.header-logo{
  width: 17%;
}
.header-logo img{
  width: 100%;
}
.header-contect{
  padding: 0.5em 0;
}
.header-logo{
  float: left;
}
.header-menu{
  float: right;
  padding: 1em;
}
.header-menu li {
  float: left;
}
.header-menu a{
  display: block;
  padding: 0 1.5em;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1.15em;
}
@media only screen and (min-width: 769px){
  .header-menu a:hover {
    color: #fff;
    background: #ff8800;
  }
}
