/* 样式重置 */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 1200px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #101010
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #101010;
}

/* 去除默认蓝色边框 */
img {
  border: none;
}

/* 清楚浮动 防止上边距折叠 */
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:after {
  clear: both;
}

/* 通用宽度 */
.fl {
  float: left;
}

.fr {
  float: right;
}

.common-width {
  margin: 0 auto;
  max-width: 1200px;
}

@media only screen and (max-width: 750px) {

  html,
  body {
    min-width: 300px;
    font-size: 12px;
    padding: 0 5px;
  }

  .common-width {
    max-width: 100%;
  }
}

/* 导航菜单 */
header {
  background: #fff;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  display: block;
  width: 100%;
}

.header-logo span {
  font-size: 1.7em;
  font-weight: bolder;
}

.header-contect {
  padding: 0.5em 0;
}

.header-logo {
  float: left;
}

.header-menu {
  float: right;
  padding: 1em;
}

.header-menu li {
  float: left;
}

.header-menu a {
  display: block;
  padding: 0 1.5em;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1.15em;
}

.mini-icon-container {
  display: none;
}

.mini-menu-close {
  display: none;
}

@media only screen and (min-width: 751px) {
  .header-menu a:hover {
    color: #fff;
    background: #ff8800;
  }
}

@media only screen and (max-width: 750px) {
  .header-logo {
    width: 80%;
  }

  .mini-icon-container {
    display: block;
    float: right;
    width: 20%;
  }

  .mini-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    background: #ff8800;
    /* background: #156cfd; */

  }

  .mini-icon>div {
    margin: 2px 0;
    width: 20px;
    height: 3px;
    background: #fff;
  }

  .header-logo a {
    width: 40%;
    min-width: 120px;
  }

  .header-logo span {
    font-size: 1.5em;
  }

  .mini-menu-close {
    display: block;
  }

  .header-menu {
    /* display: none; */
    position: fixed;
    z-index: 9;
    right: -60%;
    padding: 0;
    width: 60%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    transition: right .5s ease;
  }

  .header-menu ul {
    width: 100%;
    height: 100%;
    background: #fff;
  }

  .header-menu li {
    float: none;

  }

  #menu-mask {
    display: none;
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    transition: display .5s ease;
  }
}

/* 首页 banner */
.banner {
  background: #3a3a3a;
}

.banner-content {
  position: relative;
}

@media only screen and (min-width: 751px) {
  .banner {
    height: 600px;
    /* background: url('/assets/images/banner.jpg') center no-repeat; */

  }

  .banner-content>div {
    background: #ffc600;
    /* background: #ff8800; */
    position: absolute;
  }

  .banner-block-mian {
    width: 400px;
    height: 400px;
    top: 100px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: mainEffect 1.5s forwards;
  }

  .banner-block-min01,
  .banner-block-min02 {
    box-sizing: border-box;
    width: 58px;
    height: 58px;
    border: 6px #fff solid;
  }

  .banner-block-min03,
  .banner-block-min04 {
    width: 21px;
    height: 21px;
  }

  .banner-block-min01 {
    top: 68px;
    left: 320px;
    animation: min01Effect 1.5s forwards;
  }
  .banner-block-min03{ 
    top: 40px;
    left: 390px;
    animation: min03Effect 1.5s forwards;
  }
  @keyframes mainEffect {
    from {
      left: -150px;
    }

    to {
      left: 0;
    }
  }

  @keyframes min01Effect {
    from {
      top: 0;
    }

    to {
      top: 68px;
    }
  }
  @keyframes min03Effect {
    from {
      top: 0;
    }

    to {
      top: 40px;
    }
  }
}

@media only screen and (max-width: 750px) {}